<!DOCTYPE html>

<html> 
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Ad Tracker</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Ad Tracker</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
   
      <style>
          body {
           background-color:rgb(139, 134, 206) ; 
           font-family: 'Nunito', sans-serif;
            padding-top:50px;
        }

        /*for centering*/
        .container{
            max-width: 550px;
            margin:auto;
            background-color: white;
        }
     
       
       </style>
    </head>
<body>
  
        <div class="container shadow">
            {% block content %}
      
            {% endblock content %}
      
         </div>


</body>
</html>